<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Hibernate Example in Maven</display-name>
  <servlet>
    <description></description>
    <display-name>AddDepartment</display-name>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>hibernate.example.servlets.AddDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/AddDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexPage</display-name>
    <servlet-name>indexPage</servlet-name>
    <servlet-class>hibernate.example.servlets.indexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexPage</servlet-name>
    <url-pattern>/indexPage</url-pattern>
  </servlet-mapping>
</web-app>